<div class="hero" style="background-image: url('/images/skyline.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole">
        <img style="max-width:90%" src="/images/Headshot_casual.png" alt="{{ site.author }}'s Picture" />
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="lead">
            I am a computer scientist that loves to learn. I grew up building hardware and software for fun and I've since turned it into a lifestyle. I am passionate about evolving my understanding of security, software development, scalable architecture, automation, and how people think. I have an undergraduate degree in computer science and a graduate degree in information security. 
        </p>
      </div>
    </div>
  </div>
</div>
